@model IEnumerable<patern.Models.Hub>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Index";
}

<h1>Hub List</h1>

<p>
    <a asp-action="Create" class="btn btn-success mb-2">Create New Hub</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Location</th>
            <th>UserId</th>
            <th>SecurityServiceId</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>@item.Id</td>
            <td>@item.Location</td>
            <td>@item.UserId</td>
            <td>@item.SecurityServiceId</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
